.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  height: 70px;
  position: sticky;
  top: 0;

  &__logo {
    margin: 10px;
  }
  &__spacer {
    flex-grow: 1;
  }
  &__links {
    display: none;
  }
  &__c2a {
    width: 150px;
    height: 50px;
    margin: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 600;
    &:hover {
      background-color: whitesmoke;
    }
  }
}

@media only screen and (min-width: $tablet-view) {
  .navbar {
    &__links {
      display: flex;
      flex-direction: row;
      width: auto;
      background-color: black;
      &__link {
        width: 150px;
        margin: 10px;
        background-color: white;
        &:hover {
          background-color: whitesmoke;
        }
      }
    }
    &__c2a {
      display: none;
    }
  }
}
