.shopview {
  &__catagories {
    display: none;
  }
  &__catagorydetails {
    display: none;
  }
  &__carousel {

  }
}

.project-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectcard {
  border: 3px solid blue;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image {
    margin: 40px;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  &__title {
    font-size: 1.2em;
    font-weight: 600;
  }
  &__price {
    font-size: .7em;
    font-style: italic;
  }
  &__content {
    align-self: start;
    font-size: 0.9em;
    margin: 10px;
  }
}